@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 400px) {
  .reset-button {
    display: block;
  }
  .popup-input{
    width: 100%;
  }
}

/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@layer base {
    body {
        @apply font-[Roboto];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover{
    background-image: linear-gradient(
        to right,
        #1E3A8A,
        #EF4444
    )!important;
}